<template>
  <div class="q-pa-md q-gutter-sm">
    <q-avatar color="red" text-color="white" icon="directions" />
    <q-avatar color="primary" text-color="white">J</q-avatar>
    <q-avatar size="100px" font-size="52px" color="teal" text-color="white" icon="directions" />
    <q-avatar size="24px" color="orange">J</q-avatar>
    <q-avatar>
      <img src="https://cdn.quasar.dev/img/avatar.png">
      <p>Teste</p>
    </q-avatar>
    <q-btn color="primary" label="teste"></q-btn>
  </div>
</template>

<script>
export default {
  name: 'Avatar'
}
</script>
